{% extends 'sidebar.html' %}
{% load static %}

{% block titulo %}Mesas{% endblock %}

{% block contenido %}


<div class="row">

    <h1>Estas en la Pagina de Mesas</h1>
    {% if rol == 'admin' %}
    <div class="col-md-4 mb-3">
        <form method="POST" action="{% url 'agregarMesa' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg">
                Agregar Mesa
            </button>
        </form>
    </div>
    {% endif %}
    {% if msg %}
    <div class="alert alert-danger" role="alert">
        {{ msg }}
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            {% for mesa in cargarMesas %}
            <div class="col-md-4 mb-3">

                <div class="card text-white
                    {% if mesa.nombre_estado == 'Libre' %}
                        bg-success
                    {% elif mesa.nombre_estado == 'Ocupado' %}
                        bg-danger
                    {% elif mesa.nombre_estado == 'Mantenimiento' %}
                        bg-warning
                    {% else %}
                        bg-secondary
                    {% endif %}
                ">
                    <div class="card-header">
                        Mesa {{ mesa.num_mesa }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Estado: {{ mesa.nombre_estado }}
                        </h5>
                        <div class="d-flex gap-2 flex-wrap">
                            <button class="btn btn-success btnLibre" data-id="{{ mesa.id_mesa }}">
                                Libre
                            </button>
                            <button class="btn btn-danger btnOcupado" data-id="{{ mesa.id_mesa }}">
                                Ocupado
                            </button>
                            <button class="btn btn-warning btnMantenimiento" data-id="{{ mesa.id_mesa }}">
                                Mantenimiento
                            </button>
                            {% if rol == 'admin' %}
                            <button class="btn btn-dark btnEliminar" data-id="{{ mesa.id_mesa }}">
                                Eliminar
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const CSRF_TOKEN = '{{ csrf_token }}';
    const URLS = {
        editarMesa: "{% url 'editarMesa' %}",
        eliminarMesa: "{% url 'eliminarMesa' %}",
    };
</script>
<script src="{% static 'appMorocha/js/mesas.js' %}"></script>
{% endblock %}