{% extends 'sidebar.html' %}
{% load static %}

{% block titulo %}Ingresar Producto{% endblock %}

{% block contenido %}
<div class="row">  
    
    <div class="col-md-5">
        <h1 class="text-center">Formulario</h1><br>
        {% if msg %}
            <h3 class="{{color}}">{{msg}}</h3>
        {% endif %}
        <form action="/procesarProducto/" autocomplete="off" method="get">
            {% csrf_token %}
            <label>Nombre producto</label>
            <input type="text" class="form-control" name="txt_nombreproducto" required placeholder="Ej: torta amor"/>
            <label>Precio</label>
            <input type="text" class="form-control" name="txt_precio" id="precio" required placeholder="Ej: 4500"/>
                <br>
            <input type="submit" class="btn btn-success form-control" value="Agregar Producto"/>
        </form>
    </div>

    <div class="col-md-7">
        <h1 class="text-center">Tabla de Registros</h1><br>
        <table class="table">
            <thead class="table-dark">
                <th colspan="7" class="text-center">Tabla Productos</th>
                <tr>
                    <td>Nombre producto</td>
                    <td>Precio</td>
                    <td colspan="3">Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% if ProductosRegistrados %}
                    {% for producto in ProductosRegistrados %}
                        <tr>
                            <td>{{producto.nombre_producto}}</td>
                            <td>{{producto.precio}}</td>
                            <td><button class="btn btn-warning">Editar</button></td>
                            <td>
                                <button class="btn btn-danger btnEliminar"

                                    data-producto="{{producto.nombre_producto}}"
                                    data-clave="{{producto.clave}}">
                                    Eliminar</button>
                            </td>
                            <td>
                                <button class="btn btn-info btnVerMas"
                                    data-id="{{producto.id_producto}}"
                                    data-producto="{{producto.nombre_producto}}"
                                    data-clave="{{producto.clave}}"
                                    data-precio="{{producto.precio  }}">Ver Más</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="7">NO EXISTEN REGISTROS</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.getElementById("precio").addEventListener("input", function() {
    this.value = this.value.replace(/[^0-9]/g, "");
});
</script>
{% endblock %}