{% extends 'sidebar.html' %}
{% load static %}

{% block titulo %}Usuarios{% endblock %}

{% block contenido %}
<div class="row">  
    
    <div class="col-md-5">
        <h1 class="text-center">Formulario</h1><br>
        {% if msg %}
            <h3 class="{{color}}">{{msg}}</h3>
        {% endif %}
        <form action="/procesarUsuario/" autocomplete="off" method="get">
            {% csrf_token %}
            <label>Nombre usuario</label>
            <input type="text" class="form-control" name="txt_nombreusuario" required placeholder="Ej: emer1"/>
            <label>Clave</label>
            <input type="password" class="form-control" name="txt_clave" required placeholder="Ej: ***"/>

            <label>Rol</label>
            <select class="form-select" name="txt_rol" id="txt_rol" required>
                <option value="">Seleccionar</option>
                {% for rol in roles %}
                  <option value="{{ rol.id_rol }}">{{ rol.nombre_rol }}</option>
                {% endfor %}
            </select>

            <hr>
            <input type="submit" class="btn btn-success form-control" value="Agregar Usuario"/>
        </form>
    </div>

    <div class="col-md-7">
        <h1 class="text-center">Tabla de Registros</h1><br>
        <table class="table">
            <thead class="table-dark">
                <th colspan="7" class="text-center">Tabla Usuarios</th>
                <tr>
                    <td>Nombre usuario</td>
                    <td>Clave</td>
                    <td>Rol</td>
                    <td colspan="3">Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% if UsuariosRegistrados %}
                    {% for usuario in UsuariosRegistrados %}
                        <tr>
                            <td>{{usuario.nombre_usuario}}</td>
                            <td>{{usuario.clave}}</td>
                            <td>{{usuario.nombre_rol}}</td>
                            <td><button class="btn btn-warning">Editar</button></td>
                            <td>
                                <button class="btn btn-danger btnEliminar"

                                    data-usuario="{{usuario.nombre_usuario}}"
                                    data-clave="{{usuario.clave}}">
                                    Eliminar</button>
                            </td>
                            <td>
                                <button class="btn btn-info btnVerMas"
                                    data-id="{{usuario.id_usuario}}"
                                    data-usuario="{{usuario.nombre_usuario}}"
                                    data-clave="{{usuario.clave}}"
                                    data-rol="{{usuario.nombre_rol}}">Ver Más</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="7">NO EXISTEN REGISTROS</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'appMorocha/js/procesarUsuario.js' %}"></script>
{% endblock %}